.navbar {
    display:flex;
    width: 100vw;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    background-color: white; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-title {
    padding-left: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 12px;
    color: black;
}

.navbar-links {
    padding-right: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;

    a {
        color: black;
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;
    }
}